#include <winres.h>

//Executable icon
IDI_ICON1 ICON ""

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2026,1,0,0
 PRODUCTVERSION 2026,1,0,0
 FILEFLAGSMASK 0x3fL //Allow to use all 6 FILEFLAGS types
 
 //0x01L - Debug build
 //0x02L - PreRelease build
 //0x20L - Special branch build
 //0x00L - Clean Release build
 FILEFLAGS 0x00L
 
 //Windows 32-bit/64-bit DLL/exe, running on NT-class systems
 FILEOS 0x40004L  
 
 //0x1L - executable, 0x2 - dynamic-link library
 FILETYPE 0x1L
 
 //Usually 0x0L unless FILETYPE is a driver or font
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" //US English + Unicode
        BEGIN
			//Public fields
			VALUE "FileDescription",  "Solin IDE"
			VALUE "FileVersion",      "2026.1.0.0"
			VALUE "ProductName",      "Solin IDE"
			VALUE "ProductVersion",   "2026.1.0.0"
			VALUE "CompanyName",      "Lost Empire Entertainment"
			VALUE "LegalCopyright",   "(C) 2025 Lost Empire Entertainment"
			VALUE "LegalTrademarks",  "Trademark of Lost Empire Entertainment"
			VALUE "OriginalFilename", "Solin IDE"
			
			//Private fields
			VALUE "InternalName",     "Solin IDE"
			VALUE "Comments",         "Solin IDE"
			VALUE "PrivateBuild",     "Solin IDE"
			VALUE "SpecialBuild",     "Solin IDE"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		//Defines language and codepage so that
		//Windows knows how to display the strings correctly
        VALUE "Translation", 0x0409, 1200
    END
END
